solo_local/
*.odp
*.odp#
curriculum/
app_curriculum/
*.mp4
desktop.ini
*.DS_Store
07_node_express/01_node_ex/node_modules/
07_node_express/02_node_ng/node_modules/
00_documentacion/2_Desarrollo_móvil.zip
platforms/
plugins/
09_mobile_app/4_jQueryMobile/jqm/demos/
09_mobile_app/4_jQueryMobile/Biblioteca/jqm/demos/
09_mobile_app/4_jQueryMobile/Biblioteca/
*.odt#
