solo_local/
*.odp
*.odp#
curriculum/
app_curriculum/
*.mp4
desktop.ini
*.DS_Store
07_node_express/01_node_ex/node_modules/
07_node_express/02_node_ng/node_modules/
00_documentacion/Mod_2_MEAN/2_Desarrollo_móvil/Apache Cordova_Ejemplos.zip
00_documentacion/Mod_2_MEAN/2_Desarrollo_móvil/2_Desarrollo_móvil.zip
